
#inner {
  width: 50%;
}

h1 {
	text-align: center;
	font-family: Calisto MT, Dotum, Times New Roman;
	font-size: 4em;
	color:#2d2929; /* Darker Grey, almost Black */
	margin: 0;
	padding 0;
}

h2 {
	text-align: center;
	font-family: Calisto MT, Dotum, Times New Roman;
	font-size: 1em;
    color: #ffebb2; /* Orange Color */
	margin: 0;
	padding 0;
}

p {
	text-align: center;
	font-family: Calisto MT, Dotum, Times New Roman;
	font-size: 2em;
	color:#2d2929; /* Darker Grey, almost Black */
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.footer{
	text-align: center;
	font-family: Calisto MT, Dotum, Times New Roman;
	font-size: .5em;
}

