/*  button ------------- */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272828; /* Darker Grey, almost Black */
      font-size: 20px;
}

ul li a {
  color: #ffebb2;
}

ul li a:hover {
  color: #ffffff;
}

ul li  {
  float: left;  
    font-size: 20px; 
}

li a:link {
  display: block;
  color: #d9dbdb; /* Light Grey */
  font-size: 4em; 
  text-decoration: none;
}

li a:hover {
  background-color: #404242; /* Dark Grey */
}

li a:active {
  color: #185ca0; /* Blue */
  background-color: transparent;
}