/*  button ------------- */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272828;
}

li a:link {
  display: block;
  color: #d9dbdb;
  font-size: 4em; 
  float: left;  
  text-decoration: none;
}

/*
li a:visited {
  color: #185ca0;
  background-color: transparent;
  text-decoration: none;
}
*/

li a:hover {
  background-color: #404242;
}

li a:active {
  color: #185ca0;
  background-color: transparent;
  }