<!DOCTYPE html>
<html>
  <head>
    <title>Daily Page</title>
    <script src="C:/Users/melin/bower_components/angular/angular.js"></script>
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <link type="text/css" rel="stylesheet" href="css/navigation-daily.css"/> 
    <link type="text/css" rel="stylesheet" href="css/div-manager.css"/> 
    <link type="text/css" rel="stylesheet" href="css/title-bar.css"/> 
    <link type="text/css" rel="stylesheet" href="css/button-back.css"/> 
  </head>

<body ng-app="List">

<div id="wrapper">
    <div id="first">
      <div id="triangle-left"></div>
    </div>
    <div id="second">
      <a href="home.html" title="Home Page">Back to Home Page</a>
    </div>
</div>

<br><br><br><br>

  <div class="left-div" id="div-background">
      Hello
  </div>

  <div class="right-div">
    <!-- Angular pieces --> 


        <div ng-controller="MainController">
          <div ng-repeat="item in list">
              <li>{{ item }}</li>
          </div>
          <input ng-model="addToList">
          <button ng-click="addItem()">Add Book</button>
        </div>

      <!-- Modules -->
      <script type="text/javascript" src="js/app.js"></script>
      <!-- Controllers -->
      <script type="text/javascript" src="js/controllers/MainController.js"></script>

    <!-- Angular Pieces end --> 
  </div>

    <br><br><div class="titlebar"></div><br><br>




    <div class="main-body">
    </div>

<br><br>

    <div class="footer">
      <p> CREATE. </p>
    </div>

</body></html>